services:
  twitchets:
    container_name: twitchets
    image: arranhs/twitchets:latest
    build:
      dockerfile: Dockerfile
      context: .
    restart: unless-stopped
    ports:
      - 9000:9000
    volumes:
      - ./config.yaml:/twitchets/config.yaml

  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    restart: unless-stopped
    ports:
      - 8191:8191
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=true
      - TZ=Europe/London
