name: Lint and Test

on:
  # Manual Invocation
  workflow_dispatch:

  # Invocation from workflow
  workflow_call:

env:
  CI: true

jobs:
  lint-be:
    name: Lint Backend
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run lint
        uses: golangci/golangci-lint-action@v8

  lint-fe:
    name: Lint Frontend
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: frontend/package.json

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: frontend/package.json
          cache: pnpm

      - name: Install dependencies
        working-directory: frontend
        run: pnpm install
      
      - name: Run lint
        working-directory: frontend
        run: pnpm run lint

  test-backend:
    name: Test Backend
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install dependencies
        run: go mod download

      - name: Run test
        run: go test ./...
        env:
          TWICKETS_API_KEY: ${{ secrets.TWICKETS_API_KEY }}
