name: Main

on:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yaml
    secrets: inherit

  test:
    name: Test
    uses: ./.github/workflows/test.yaml
    secrets: inherit

  build-push:
    name: Build and Push
    uses: ./.github/workflows/build-push.yaml
    needs: [lint, test]
    secrets: inherit
    with:
      ref: ${{ github.sha }}
      tags: develop,${{ github.sha }}
