name: Pull Request

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint-test.yaml
    secrets: inherit

  test:
    name: Test
    uses: ./.github/workflows/lint-test.yaml
    secrets: inherit
